@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: local(''),
  url('../fonts/poppins-v20-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
  url('../fonts/poppins-v20-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* poppins-500 - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  src: local(''),
  url('../fonts/poppins-v20-latin-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
  url('../fonts/poppins-v20-latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* poppins-600 - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  src: local(''),
  url('../fonts/poppins-v20-latin-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
  url('../fonts/poppins-v20-latin-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* poppins-900 - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 900;
  src: local(''),
  url('../fonts/poppins-v20-latin-900.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
  url('../fonts/poppins-v20-latin-900.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* bitter-200 - latin */
@font-face {
  font-family: 'Bitter';
  font-style: normal;
  font-weight: 200;
  src: local(''),
  url('../fonts/bitter-v32-latin-200.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
  url('../fonts/bitter-v32-latin-200.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* bitter-100 - latin */
@font-face {
  font-family: 'Bitter';
  font-style: normal;
  font-weight: 100;
  src: local(''),
  url('../fonts/bitter-v32-latin-100.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
  url('../fonts/bitter-v32-latin-100.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* ::-webkit-scrollbar {
  width: 0;
  background-color: #fff ;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #fff;
  transition: .3s;
} */

*,
*::before,
*::after{
  box-sizing: inherit;
}


html{
  height: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

img{
  display: block;
}

body{
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', 'Arial', 'sans-serif';
  background-image: url('../images/ornament.svg');
  background-position: calc(100%) 309px;
  background-repeat: no-repeat;
  background-size: 1177px;
}

.dark {
  background-color: #191919;
}

.dark .MuiPaper-root {
  background-color: #191919;
}

.dark .gkQdbW {
  background-color: #222;
}

.dark .bIcZWe {
  color: #fff ;
}

.dark .czNhvP{
  background-color: #191919;
  box-shadow: 0px 4px 77px rgba(0, 0, 0, 0.25);
}

.dark .iXDwfG{
  background: #404040;
}

.dark .iXDwfG::placeholder {
  color: rgba(255, 255, 255, 0.3);
}

.dark .cgwcUh {
  color: #3C2710;
}

.dark .obJzP {
  color: #fff;
}

.dark .bhTlJR {
  color: rgba(255, 255, 255, 0.6);
}

.dark .jRcPxw {
  background-color: #1E1E1E;
}

.dark .hTHsYH {
  color: #C9AC8C;
}

.dark .reUTM {
  color: rgba(255, 255, 255, 0.6);
}

.dark .kkwrbe{
  background-color: #191919;
  box-shadow: 0px 4px 77px rgba(0, 0, 0, 0.25);
}

.dark .eUvkBY {
  background-color: #404040;
}

.dark .eUvkBY::placeholder {
  color: rgba(255, 255, 255, 0.3);
}

.dark .iukneb {
  color: #3C2710;
}

.dark .PTJLq {
  color: rgba(255, 255, 255, 0.6);
}

.dark .iEifJc {
  color: #C9AC8C;
}

.dark .lfKSVI {
  color: rgba(255, 255, 255, 0.6);
  
}

.dark .dnmIDx {
  background: #191919;
  box-shadow: 0px 4px 77px rgba(0, 0, 0, 0.25);
}

.dark .koOHjL {
  color: rgba(255, 255, 255, 0.8);
}

.dark .kVwrfZ {
  color: rgba(255, 255, 255, 0.6);
}

.dark .kXZVAa {
  color: #fff;
}

.dark .boncqX {
  color: rgba(255, 255, 255, 0.6);
}

.dark .knWtnn {
  color: #FFFFFF;
}

.dark .Rwwyv {
  color: rgba(255, 255, 255, 0.8);
}

.dark .hyxjUW {
  background-color: #191919;
}

.dark .faKHlS{
  background: #2D2D2D;
  color: #FFFFFF;
}

.dark .iBuTDI {
  color: #DEDEDE;
}

.dark .Uaiih {
  color: #F3F6F9;
}

.dark .eZBPCr {
  background-color: #F1F6FF;
  color: #0D0D0D;
}

.dark .css-u109ib {
  color: #FFFFFF;
}

.dark .css-pn96st {
  background-color: #F1F6FF;
  color: #0D0D0D;
}

.dark .fNpLib {
  background-color: #191919;
}

.dark .lfQeAv {
  color: #fff;
}

.dark .cjIfPG {
  background-color: #191919;
  border: 1px solid #B4B4BB;
  color: #fff;
}

.dark .cjIfPG::placeholder {
  color: #fff;
}

.dark .btVyqw {
  background-color: #191919;
  border: 1px solid #B4B4BB;
  color: #fff;
}

.dark .hVBJId {
  background-color: #191919;
  border: 1px solid #B4B4BB;
  color: #fff;
}

.dark .hVBJId::placeholder {
  color: #fff;
}

.dark .iDjbLl {
  background-color: #fff;
  color: #000;
}

.active {
  opacity: 1 !important;
}